<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="icontent">

  <div class="icontent-middle" *ngFor="let word of words; let i = index" >
    <ion-card class="icard" [ngClass]="'icard-border' + word.levelId">

      <ion-row class="icard-header">
        <ion-col align-self-center text-center *ngIf="word.bodyFlag == true" (click)="word.bodyFlag = !word.bodyFlag">
          {{word.head1}}
        </ion-col>
      </ion-row>

      <ion-row class="icard-content head"  
                *ngIf="word.bodyFlag == false" (click)="word.bodyFlag = !word.bodyFlag">
        <ion-col align-self-center text-center>
            {{word.head1}}
        </ion-col>
      </ion-row>

      <ion-card-content class="icard-content body" align-self-center 
                        *ngIf="word.bodyFlag == true" (click)="word.bodyFlag = !word.bodyFlag">
        <pre>{{word.body1}}</pre>
      </ion-card-content>

      <ion-row class="icard-foot">
          <ion-col col-20 class="foot-up" align-self-center text-center>
            <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, 1)">
              <ion-icon name='thumbs-up'></ion-icon>
            </button>
          </ion-col>
          <ion-col col-60 class="foot-desc-col" align-self-center text-center>
            <ion-note class="foot-desc-note">
              {{word.lectureName}}
            </ion-note>
          </ion-col>
          <ion-col col-20 class="foot-down" align-self-center text-center>
            <button ion-button color="gray" clear small icon-start (click)="clickThumbs(word, -1)">
              <ion-icon name='thumbs-down'></ion-icon>
            </button>
          </ion-col>
        </ion-row>
    </ion-card>
  </div>

</ion-content>